<%- include("includes/header", { title: "Admin Page" }) %>

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <h2 class="text-center">Admin Dashboard</h2>
    <p class="text-center">Manage and oversee the project efficiently.</p>

    <!-- Admin List -->
    <div class="admin-list" style="margin-top: 30px;">
        <h3 class="text-center">Our Admins</h3>
        <div class="card" style="margin-top: 20px;">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Amitansh Gupta</strong>
                    <br>
                    <span>Email: amitanshgupta.cy23@rvce.edu.in</span>
                </li>
                <li class="list-group-item">
                    <strong>N Mohammed Akhil</strong>
                    <br>
                    <span>Email: nmohammedakhil.cy23@rvce.edu.in</span>
                </li>
                <li class="list-group-item">
                    <strong>Vansh Bhardwaj</strong>
                    <br>
                    <span>Email: vanshbhardwaj.is23@rvce.edu.in</span>
                </li>
                <li class="list-group-item">
                    <strong>Tanmay Bajpai</strong>
                    <br>
                    <span>Email: tanmaybajpai.is23@rvce.edu.in</span>
                </li>
            </ul>
        </div>
    </div>

    
</div>

<%- include("includes/footer") %>
